BASE_URL=http://52.64.199.49:8080
WEATHER_API_KEY=your_weather_api_key_here
COMETCHAT_API_URL=your_cometchat_api_url
COMETCHAT_APP_ID=your_cometchat_app_id
COMETCHAT_REGION=your_cometchat_region
COMETCHAT_PROVIDER_ID=your_cometchat_provider_id
